.contactMessage-main{
  margin-top: 20px;
	margin-bottom: 30px;
}	
.cont-image{
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10% ;
    margin-bottom: 30px;
}

.mb-1{
  margin-bottom: 1rem;
}
.mb-3{
  margin-bottom: 3rem;
}

.btn {
  background-color: #1a81f7;
  color: white;
  padding: 10px 14px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 16px;
}

.btn:hover {
  background-color: #5dade6;
  cursor: pointer;
}


@media(min-width:768px){
  .contactMessage-main{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
  }
  .cont-image{
    margin-top: 15%;
  }
}


@media(max-width:768px){
  #contact{
        text-align: center;
        align-items: center;
    }
}


