.podcast-main{
	overflow: hidden;
  padding-top: 50px;
}	
.podcast-header-title {
  font-size: 45px;
  font-weight: 400;
  line-height: 0px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.podcast-header-subtitle{
	margin-bottom: 30px;
}	
.podcast {
  width: 600px;
}

.podcast-main-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}
.subTitle {
  color: #373baf;
}

@media (max-width: 768px) {
  .podcast-header-title {
    font-size: 30px;
    text-align: center;
  }
  .podcast-header-subtitle {
    font-size: 15px;
    margin-top: 20px;
    line-height: normal;
    text-align: center;
  }

  .podcast {
    width: 400px;
  }
  .podcast-main-div {
    text-align: center;
  }
}
@media (min-width: 768px){
  .podcast-header-title {
    text-align: center;
    font-size: 30px;
  }
  .podcast-header-subtitle {
    margin-top: 30px;	
    font-size: 20px;
    text-align: center;
  }

  .podcast {
    margin-top: 20px;	
    width: 600px;
  }
  .podcast-main-div {
    text-align: center;
  }	
}