.about-main{
	overflow: hidden;
}	
.blog-header{
	margin-top: 17px;
}	
.profile-image {
  border-radius: 50%;
  border: 0.5rem solid #6c63ff;
  margin-left: auto;
  width: 100%;
  max-width: 350px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0 30px 30px -30px;
  transition: all 0.3s ease-out;
}

.profile-image:hover {
  box-shadow: none;
}

.prof-title {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}

.location-div {
	font-size:12px;
  text-shadow:  #ffebcd;
}
.loc-im{
	width: 18px;
}	
.opp-div {
  padding-bottom: 1rem;
}

.row {
  /*display: flex;*/
}

.main-content-profile {
  flex: 80%;
}

.image-content-profile {
  text-align: center;
  flex: 20%;
  max-width: 100%;
  height: auto;
}

.bio-text {
  line-height: 30px;
  font-size: 22px;
}

.desc-prof {
  line-height: 45px;
  font-size: 19px;
  display: inline;
}


@media (max-width: 768px) {
  .row {
    /*display: flex;
    flex-direction: column;*/
    margin-bottom: -20px;
  }

  .main-content-profile {
    text-align: center;
    order: 2;
  }
  .blog-sub{
  	margin-bottom: 0px;
  	margin-top: -15px;
  }
  .bio-text {
    font-size: 16px;
  }

  .image-content-profile {
    margin-left: auto;
    margin-right: auto;
    order: 1;
  }

  .desc-prof {
  	width: 16px;
    line-height: 30px;
    font-size: 16px;
    flex-direction:
  }

  .profile-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .profile-image:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 50px 50px -50px;
    transition: 0.3s ease-out;
  }

  .prof-title {
    padding-bottom: 1rem;
    font-size: 32px;
    text-align: center;
  }
}
@media (min-width: 768px){
	.blog-header{
	    font-size: 22px;	
	}	
	.loc-im{
		width: 21px;
 	}
 	.desc-prof{
 	    font-size: 20px;
 	}
}	