.hobbies-card{
    margin-top: 50px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.hobbies-card-title{
    font-size: 35px;
    margin-top: 20px;
}
.hobbies-card-subtitle{
    margin-top:12px;
    font-size: 25px;
    margin-bottom: 20px;
}


@media(min-width: 768px){
    .hobbies-image{
      width: 60%;
    }
    .hobbies-data{
      display: flex;
      flex-direction: row;
      overflow: hidden;
    }
    .hobbies-data > * {
      flex: 1;
      margin-bottom: 30px;
      margin-left: 30px;
    }

    .hobbies-image > * {
      max-width: 60%;
      height: auto;
      margin-top: 100px;
    }
}
@media(max-width: 768px){
    .hobbies-card-title{
        font-size: 27px;
    }
    .hobbies-card-subtitle{
        font-size: 18px;
    }
    .hobbies-image{
        width: 80%;
    }
    
}